
<p></p>
Display 
<select name="currentCount" (change)="onLimitChange()" [(ngModel)]="currentCount">
    <option *ngFor="let number of limitArray">{{number}}</option>
</select>
Movies

<p></p>
<div>
    Display <input type="radio" [ngModel]="count" value="5" (change)="onLimit($event)"/> 5
    <input type="radio" [ngModel]="count" value="10" (change)="onLimit($event)"/> 10
    <input type="radio" [ngModel]="count" value="15" (change)="onLimit($event)"/> 15 Movies
</div>

<p></p>
The list of Movies are:
<p></p>

<ul>
    <li *ngFor="let movie of movies">
        <a routerLink="{{movie._id}}">{{movie.title}} - {{movie.type}}</a>
    </li>
</ul>

<p></p>
<app-pagination [offset]="offset" [isEndedPage]="isEndedPage" (addEvent)="onOffsetChange($event)"></app-pagination>

