<h1>Search Jobs with Postdate</h1>

<ul>
    <li *ngFor="let job of jobopenings">
        <p>
            {{job.title}} <br/>
           + Postdate: {{job.postDate|date:"MM-dd-yyyy":"+0000"}}
        </p>
    </li>
</ul>

<p></p>
Number of Jobs per page
<select name="currentCount" (change)="onLimitChange()" [(ngModel)]="currentCount">
    <option *ngFor="let number of limitArray">{{number}}</option>
</select>
<br/>
<app-pagination [offset]="offset" [isEndedPage]="isEndedPage" (addEvent)="onOffsetChange($event)"></app-pagination>

