<p></p>
<H1>Job Searching</H1>
<ul>
    <li *ngFor="let job of jobopenings">
        <a routerLink="jobopenings/{{job._id}}"> {{job.title}} </a>
        <button (click)="onDelete(job)">Delete</button>
    </li>
</ul>

<p></p>
Number of jobs per page: 
<select name="currentCount" (change)="onLimitChange()" [(ngModel)]="currentCount">
    <option *ngFor="let number of limitArray">{{number}}</option>
</select>
<br/>
<app-pagination [offset]="offset" [isEndedPage]="isEndedPage" (addEvent)="onOffsetChange($event)"></app-pagination>

<p></p>
<br/>
<div>
    <button routerLink="addjob">Add Job</button>
</div>
