
<br/>
<label>Search by keyword <input name="keySearch" placeholder="KeyWord" [(ngModel)]="keySearch" (change)="onInputChange()"/></label>
<button (click)="onSearch()">Search</button>
<button (click)="onSort()">Sort</button>
<br/> <br/>

<ul>
    <li *ngFor="let song of songs">
        <a routerLink="/songs/{{song._id}}">{{song.title}}  </a>
    </li>
</ul>

<br/>

Number of songs per page 
<select name="currentCount" (change)="onLimitChange()" [(ngModel)]="currentCount">
    <option *ngFor="let number of limitArray">{{number}}</option>
</select>

<p>
    <app-pagination [offset]="offset" [isEndedPage]="isEndedPage" (addEvent)="onPaginate($event)"></app-pagination>
</p>