
<br/>

<label>Search by keyword <input class="border-secondary form-control" name="keySearch" placeholder="KeyWord" [(ngModel)]="keySearch" (change)="onInputChange()"/></label>
<button class="btn btn-primary ms-3" (click)="onSearch()" >Search</button>
<button class="btn btn-primary ms-1" (click)="onSort()" >{{lblSort}}</button>

<br/>
<br/>

<label class="text-center"> Song List</label> <br/>
<table class="table table-hover">
    <thead>
      <tr>
        <th class="col-md-2">#</th>
        <th class="col-md-7">Title</th>
        <th class="col-md-3">Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active" *ngFor="let song of songs; let i = index" routerLink="/songs/{{song._id}}">
        <th scope="row">{{getSongIndex(i+1)}}</th>
        <td>{{song.title}}</td>
        <td>{{displayDuration(song)}}</td>
      </tr>
    </tbody>
  </table>

<br/>

Number of songs per page 
<select name="currentCount" (change)="onLimitChange()" [(ngModel)]="currentCount">
    <option *ngFor="let number of limitArray">{{number}}</option>
</select>

<div>
  <app-pagination [offset]="offset" [isEndedPage]="isEndedPage" (addEvent)="onPaginate($event)"></app-pagination>
</div>

<br/>

