
<br/>

<label>Search by keyword <input name="keySearch" placeholder="KeyWord" [(ngModel)]="keySearch" (change)="onInputChange()"/></label>
<button (click)="onSearch()" class="ms-3">Search</button>
<button (click)="onSort()" class="ms-1">{{lblSort}}</button>

<br/>
<br/>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-active" *ngFor="let song of songs; let i = index" routerLink="/songs/{{song._id}}">
        <th scope="row">{{getSongIndex(i+1)}}</th>
        <td>{{song.title}}</td>
        <td>{{displayDuration(song)}}</td>
      </tr>
    </tbody>
  </table>

<br/>

Number of songs per page 
<select name="currentCount" (change)="onLimitChange()" [(ngModel)]="currentCount">
    <option *ngFor="let number of limitArray">{{number}}</option>
</select>

<p>
    <app-pagination [offset]="offset" [isEndedPage]="isEndedPage" (addEvent)="onPaginate($event)"></app-pagination>
</p>