Company {{company.name}} <br/>

Home Page: {{company.homepage_url}}<br/>
Blog URL: {{company.blog_url}}<br/>
Blog Feed: {{company.blog_feed_url}}<br/>
Twitter: {{company.twitter_username}}<br/>
Employees: {{company.number_of_employees}}<br/>
Founded Year: {{company.founded_year}} Month: {{company.founded_month}} Day: {{company.founded_day}}<br/>
Emaile: {{company.email_address}}<br/>
Phone: {{company.phone_number}}<br/>
Description: {{company.description}}<br/>
Money Raised: {{company.total_money_raised}}<br/>
Positions: <a routerLink="relationships"> employees</a>
