<!-- <nav>
    <button routerLink="">Home</button>
    <button routerLink="songs">Music</button>
    <button routerLink="search">Search</button>
    <button routerLink="register">Register</button>
    <button routerLink="login">Login</button>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#">CS572</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" routerLink="">Home
              <!-- <span class="visually-hidden">(current)</span> -->
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="songs">Music</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="register">Register</a>
          </li>
        </ul>
        <div class="d-flex">
          <button class="btn btn-secondary my-2 my-sm-0" routerLink="login">Login</button>
        </div>
      </div>
    </div>
  </nav>