
<!-- <div class="row">
<div class="col-md-6 mx-auto"> -->

<br/>
<H1>{{song.title}}</H1> <br/>

Duration: {{displayDuration()}} <br/>
Artists: 
<ul>
    <li *ngFor="let artist of song.artists">
        <a>{{artist.name}}   </a>
        <button routerLink="/songs/{{song._id}}/artists/{{artist._id}}/edit" class="ms-1 mt-0 pt-0 btn edit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
              </svg>
        </button>
        <button (click)="onArtistRemove(artist)" class="ms-1 btn-close"></button>
    </li>
</ul>

<br/>

<nav>
    <button class="btn btn-primary" routerLink="/songs/{{song._id}}/edit">Update</button>
    <button class="btn btn-primary ms-1" routerLink="/songs/{{song._id}}/addArtist" >Add Artist</button>
    <button class="btn btn-primary ms-1" (click)="onDelete()" >Delete</button>
</nav>

<!-- </div>
</div> -->

