
<div class="row">
<div class="col-md-6 mx-auto">

<p></p>
<H1 class="text-center">{{btnTitle}}</H1>
<p></p>

<form [formGroup]="songForm" (ngSubmit)="onSubmit()">
    <div>
        <label class="form-label mt-3 mb-0">Title</label>
        <input formControlName="title" placeholder="Title" class="form-control"/>
    </div>
    <div>
        <label class="form-label mt-3 mb-0">Duration</label>
        <input formControlName="duration" placeholder="Duration" class="form-control"/>
    </div>

    <br/>
    <div>
        <button class="btn btn-primary" type="submit">Save</button>
    </div>
</form>

</div>
</div>

