
<p></p>
<H1>{{btnTitle}}</H1>
<p></p>

<form [formGroup]="songForm" (ngSubmit)="onSubmit()">
    <div>
        <label>Title: <input formControlName="title" placeholder="Title"/></label>
    </div>
    <div>
        <label>Duration: <input formControlName="duration" placeholder="Duration"/></label>
    </div>

    <!-- <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"> -->

    <br/>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
